// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

.container{
	margin: 30px 20px 0 20px;
	text-align: center;
	color: #636363;
}

pre {
	max-width: 700px;
	display: block;
	margin: 0 auto;
	text-align: left;
	border: 2px solid #dedede;
	padding: 20px;
	background-color: #eee;
	overflow: auto;
	white-space: pre-wrap;
	tab-size: 2;
}

code{
	width: 100%;
	display: block;
}